{{outlet}}

<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for user...">
      <span class="input-group-btn">
        {{#link-to 'profiles' class="btn btn-primary"}} 
          Go!!
        {{/link-to}}
      </span>
    </div>
  </div>