<div class="container card bg-faded">
    <div class="panel-title"> 
        <h3> Introduction to Ember. </h3>
    </div>

    <ol>
        <li> npm </li>
        <li> RSVP ajax for http/xml  </li>
        <li> Ember Data ORM </li>
        <li> bootstrap 4 + mdn </li>
    </ol>
</div>
